Source: lliurex-firefox-plugins
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10), n4d-dev 
Standards-Version: 4.1.2

Package: lliurex-firefox-plugins
Depends: ${shlibs:Depends}, ${misc:Depends}, n4d-apache 
Architecture: all
Conflicts: 
Description: LliureX firefox plugins configuration
 This package allows to install firefox plugins from server to clients
